@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-Variable.ttf') format('truetype-variations'),
    url('/fonts/Vazirmatn-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Vazirmatn', 'B Nazanin', 'B Mitra', 'B Zar', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
